input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

/*table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}*/



td,th {
    text-align:center
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
footer {
    background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
    color: black;
}
